<div class="form-group">
  {{#if renderLabel}}
    <label title="{{title}}" for='{{concat id '_input'}}' class={{if hasError 'text-danger'}}>
      {{label}} {{#if isRequired}}*{{/if}}
    </label>
  {{/if}}
  <textarea value={{readonly value}} oninput={{action onUpdateValue value="target.value"}} disabled={{disabled}} class='form-control' rows={{rows}}></textarea>
  <span class="help-block " data-test='error-messages'>{{error}}</span>
  {{#if hasHelp}}
    <span class="help-block" data-test='help-messages'>{{helpText}}</span>
  {{/if}}
</div>
